body{
    font-family: Montserrat;
}
a{
    text-decoration: none;
    color:#CDD1EA;
}

footer {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 5rem;
}
li button {
    font-size: 1rem;
}
.btn-dark{
    background-color: #252535;
}

.titleSection {
    margin-top: 20%;
    color: #252535;
}
.upperTitle{
    font-size: 2rem;
    margin:auto;
    opacity: 90%;
    font-style: italic;
}
.lowerTitle{
    text-align: center;
    font-family: Montserrat-Light;
    font-style: italic;
    opacity: 70%;
}

#title {
    margin: 3% 0 2% 0;
    font-weight: bold;
}
