body{
    font-family: Montserrat;
}
a{
    text-decoration: none;
    color:#CDD1EA;
}


h1 {
    font-size: 5rem;
}
li button {
    font-size: 1rem;
}
.btn-dark{
    background-color: #252535;
}

.heroSection {
    margin-top: 15%;
    color: #252535;
}
.heroButtons {
    margin-top: 3%;
}
.heroBtn {
    margin: 0 2% 0 0;
}
.btn-primary{
    background-color: #252535;
}
.upperTitle{
    font-size: 2rem;
    margin:auto;
    opacity: 90%;
    font-style: italic;
}
.lowerTitle{
    font-family: Montserrat-Light;
    font-style: italic;
    opacity: 70%;
}

#title {
    margin: 3% 0 2% 0;
    font-weight: bold;
}
